body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: black;
    width: 100%;
    z-index: 1000;
}

h1 {
    text-align: center;
    padding: 20px;
}

.map {
    fill: rgb(207, 215, 221);
    width: 
}