.pin{
    width: 50px;
    height: auto;
    position: absolute;
    transition: transform .1s;
    
}

.pin:hover{

    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    cursor: pointer;
}

.terence {
    top: 75%;
    left: 21%;
}

.sacha {
    top: 49%;
    left: 19.5%;
}

.florent {
    top: 13%;
    left: 43%;
}

.perrine {
    top: 75%;
    left: 22%;
}

.marine {
    top: 78%;
    left: 22%;
}

.philippe {
    top: 78%;
    left: 20%;
}

.aledorian {
    top: 80%;
    left: 20%;
}

.maryline {
    top: 81%;
    left: 17.5%;
}

.julie {
    top: 77%;
    left: 21%;
}

.maxence {
    top: 71%;
    left: 78.5%;
}

.yohann {
    top: 16%;
    left: 40.5%;
}

.gregoire {
    top: 91%;
    left: 20%;
}

.nicolas {
    top: 100%;
    left: 33.5%;
}

.laurie {
    top: 13%;
    left: 45%;
}
/* 
.sacha{

    margin-bottom: 20px;
}  */

/* .perrine{

    margin-left: 40px;
} */